@import 'variables';

.borad {
  background: #F4F4F4;
  border-radius: 10px;
  padding: 20px 20px;
  margin-bottom: 40px;
  &-box {
    display: flex;
    justify-content: space-between;
    
    // right: 60px;
  }
  &-left {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    // position: relative;
    // right: 265px;
  }
  &-content {
    font-size: 20px;
    margin: 30px 0;
  }
}
.drop-down {
  position: relative;
  top: 10px;
  left: 0;
  cursor: pointer;
  
  .drop-content {
    position: absolute;
    top: 25px;
    right: 20px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    width: 70px;
    height: 80px;
    font-size: large;
    text-align: center;
    display: none;
  }
}


.drop-content a {
  display: block;
  padding: 10px 8px;
  &:hover {
    opacity: 0.7;
  }
}

.drop-down:hover .drop-content {
  display: block;
}