@import 'variables';



label {
  font-size: $form-base-size;
}

.text {
  display: block;
  width: 100%;
  background: #F4F4F4;
  border: #F4F4F4;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
  font-size: 15px;
  
  }

.text-area {
  height: 200px;
}

  .btn {
  background-color: #F8BD1C;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: $form-base-size;
  color: #FFFFFF;
  display: block;
  margin: auto;
  width: 80%;
  height: 60px;
  border: none;
  border-radius: 10px;
}

.check-box{
  margin-bottom: 40px;
}

.file {
  margin-bottom: 40px;
}
