$title-base-size: 35px;
$form-base-size: 20px;

.title {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: $title-base-size;
  color: #000000;
  margin-bottom: 50px;
}

.field {
  width: 100%;
  label {
    font-size: $form-base-size;
  }
  .text {
    display: block;
    width: 100%;
    background: #F4F4F4;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 15px;
    }
}

  .btn {
  background-color: #F8BD1C;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: $form-base-size;
  color: #FFFFFF;
  display: block;
  margin: auto;
  width: 80%;
  height: 60px;
  border: none;
  border-radius: 10px;

  
}
.check-box{
  width: 20px;
  margin-bottom: 50px;
}